<!-- Email Body for Auto Emailer-->
<p>Your Login ID is: <%= @user.client_id %></p>
<p>Please store your login ID and password safely and remove this email.</p>

<p>If you forget your ID you need to contact a member of our customer service team.</p>
<p>Follow this link or copy and paste it into your search bar to create a new password</p>