

<div style="width: 90%; margin: auto">
  <p style="color: green"><%= notice %></p>

  <%= render @user %>

  <div>
    <%= link_to "Edit this user", edit_user_path(@user.client_id), class: "btn btn-warning" %> |
    <%= link_to "Back to users", users_path, class: "btn btn-primary" %>
  </div>
</div>
