



<div style="width: 90%; margin: auto">
    <h1 style="text-align: center; margin-top: 2rem ">Edit property</h1>
    <div style="width: 500px; margin: auto">
        <%= render 'edit_form' %>
    </div>
</div>
