<div style="width: 90%; margin: auto">
    <h1 style="text-align: center; margin-top: 2rem ">Add a new property</h1>
    <div style="width: 500px; margin: auto">
        <%= render 'form', property: @property %>
    </div>
</div>


