
<div>
  <h2 style="color: green; text-align: center"><%= notice %></h2>

  <%= render @client_detail %>

  <div style="margin: 1rem auto 0 auto; width: 300px; text-align: center">
    <%= link_to "Show this client", client_detail_url(client_id: @client_detail.client_id), class: "btn btn-primary" %> |
    <%= link_to "Back to clients", client_details_path, class: "btn btn-primary" %>
  </div>
</div>