
.login-section, .acc-creation-section {
    width: 90%;
    margin: 2rem auto 0 auto;
}

.login-title, .acc-creation-title {
    text-align: center;
    margin-bottom: 1rem;
}

.login-container, .acc-creation-container {
    padding: 20px;
    box-shadow: 0px 1px 10px 1px rgb(172, 171, 171);
    border-radius: 5px;
    margin: 0 auto 2rem auto; 
    width: 330px;
}

.date-picker {
    margin-bottom: 2rem;
    height: 35px;
}

.error, .error_notification {
    padding-left: 10px;
    color: red;
}


@media screen and (min-width: 700px) {
    .acc-creation-container {
        width: 500px;
    }
}