.nav-container {
    height: 30px;
}

.navbar, .container-fluid {
    background-color: rgb(255, 255, 255);
    height: 100px;
    position: fixed;
    z-index: 5;
    
}

.container-fluid {
    width: 20%;
    margin: none;
}

.nav-item:hover {
    border-bottom: 2px solid black;
}

.navbar-toggler {
    width: 60px;
}

.navbar-collapse {
    z-index: 10;
    background-color: white;
    padding: 10px;
}