
<section class="footer-container">
    <div class="footer-h2">
        <div class="footer-wrapper-h2">
            <h2>Property Management</h2>
        </div>
    </div>
    <div class="footer-info">
        <p>Unit 78 Dune Bridge Business Centre  | Drive Street  | Rochester | ME4 3RU <br/>
        Reg No: 11111112 | VAT No: 112 1223 12 <br/>
        Tel: 01364 837465 <br/>
        Business hours: Mon - Fri 9.00am - 5.00pm | Sat - Sun Closed <br/>
        Out of hours emergency phone: 07236574831 <br/>
        © 2024 All Rights Reserved | Property Management</p>
    </div>
    <div class="footer-links">
        <p>Privacy & Terms <br/>
            Legal <br/>
            Complaints</p>
    </div>
</section>